<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Player Comparison</title>
</head>
<body>
    <h1>Compare NFL Players</h1>

    <form action="/compare" method="POST">
        <label for="player_a">Player A Name:</label>
        <input type="text" id="player_a" name="player_a" required><br><br>

        <label for="player_b">Player B Name:</label>
        <input type="text" id="player_b" name="player_b" required><br><br>

        <label for="week">Week:</label>
        <input type="number" id="week" name="week" min="1" max="17" required><br><br>

        <input type="submit" value="Compare Players">
    </form>

    {% if result %}
    <h2>Comparison Result:</h2>
    <p>{{ result }}</p>

    <!-- Display player headshots -->
    <div>
        <h3>{{ player_a_name }}</h3>
        <img src="{{ player_a_headshot }}" alt="{{ player_a_name }} headshot" style="width:150px; height:auto;">
        <img src="{{ player_a_team_logo }}" alt="Player A Team Logo" style="width:100px; height:auto">
        <h4>{{ player_a_name }} Average fantasy points this season: {{ player_a_avg_points }} </h4>
    </div>

    <div>
        <h3>{{ player_b_name }}</h3>
        <img src="{{ player_b_headshot }}" alt="{{ player_b_name }} headshot" style="width:150px; height:auto;">
        <img src="{{ player_b_team_logo }}" alt="Player B Team Logo" style="width:100px; height:auto">
        <h4>{{ player_b_name }} Average fantasy points this season: {{ player_b_avg_points }} </h4>

    </div>
    {% endif %}
</body>
</html>
